#Email {
  width: 50%;
}
#name {
  width: 50%;
}
#Contact {
  width: 50%;
}
#message {
  width: 50%;
  height: 30%;
}

.img {
  background: url("./images/helppage.jpg");
  background-size: cover;
  height: 750px;
  background-position: center;
  object-fit: contain;
}
@media (max-width: 768px) {
  .img {
    object-fit: contain;
    background-size: cover;
    height: 600px;
    width: 100%;
    background-position: center;
    /* position: relative; */
  }
}
/* @media (max-width:768px){
  #smdiv{
    font-size: small;
    width: auto;
  }
} */

#typewriter {
  padding: 19%;
  /* justify-content: space-around; */
  font-family: Roboto;
  color: cornsilk;
  font-size: 4em;
}
@media (max-width: 768px) {
  #typewriter {
    /* margin-top: 20%; */
    font-size: 1em;
    line-height: 1.3;
    padding: 30%;
  }
}
.intro {
  /* padding: 15%; */
}
@media (max-width: 768px) {
  .intro {
    font-size: 2em;
    /* margin-top: 20%; */
  }
}
/* .topnav{
  display:flex;
  float: left; 
  list-style-type: none;
  

} */

.list {
  background-color: black;
  color: ivory;
  position: fixed;
  cursor: pointer;
  width: 100%;
  height: 10%;
  display: flex;
  /* float: left; */
  justify-content: space-evenly;
  font-family: sans-serif;
}
@media (max-width: 768px) {
  .list {
    font-size: small;
    height: 5%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    cursor: pointer;
    font-family: sans-serif;
  }
}
#about {
  display: flex;
  font-size: larger;
  margin-top: 1%;
}
#skills {
  display: flex;
  font-size: larger;
  margin-top: 1%;
}
#projects {
  display: flex;
  font-size: larger;
  margin-top: 1%;
  
}
#contact {
  /* margin-left: 5%; */
  display: flex;
  font-size: larger;
  margin-top: 1%;
}
#li {
  display: flex;
  font-size: larger;
  margin-top: 1%;
  /* margin-left: 3%; */
}
/* .info {
  color: black;

  background-color:white;
  background-size: cover;
  height: 100%;
  background-position: center; */
/* background-repeat: no-repeat; */
/* object-fit: contain;
  padding: 10%;
  margin-top: 1%;
} */
#H2 {
  color: ivory;
  text-align: center;
}

#full {
  background-color: rgb(6, 109, 134);
  padding: 8% 10% 15% 10%;
  font-family: Roboto;
;
}
@media (max-width:768px){
#full{
  padding-bottom:30%;
  font-weight: 2rem;
}
}
#card {
  background-color: papayawhip;
  /* height: 30%; */
  width: 80%;
  padding: 5%;
  font-size: larger;
  margin: 0 10% 0 10%;
}
@media (max-width: 768px) {
  #card {
    font-size: small;
  }
  .mydetails {
    font-size:small;
    font: bolder;
  }
}
.mydetails{
  font:bolder;
}
#head {
  padding: 10%;
}
#btn {
  margin: 3% 0 0 0;
}
/* #font {
  font-size: larger;
  padding: 2%;
  width: 50%;
} */
#cvbtn {
  font-size: larger;
  margin-top: 25%;
  color: white;
  font-family: sans-serif;

  /* margin-left:750%; */
  /* height: 50%; */
  /* margin-top: 20%; */
  /* margin-right: 100%; */
}
@media (max-width: 768px) {
  #cvbtn {
    font-size: small;
    margin-top: 18%;
    /* margin-left: 100%; */
  }
}
#big {
  background-color: whitesmoke;
  width: 80%;
  /* height: 100%; */
  margin: 10% 8% 10% 10%;
  padding: 5%;
  justify-content: space-evenly;
  display: flex;
}
@media (max-width: 768px) {
  #big {
    padding: 2%;
    justify-content: space-between;
    
  }
}
#main {
  background-color: whitesmoke;
  /* width: 50%; */
  height: 50%;
  /* margin: 0 0 0 50%; */
  padding: 3%;
}

#image {
  width: 100%;
  /* margin: 0 0 0 20%; */
  /* float: right; */
  padding: 4%;
}
@media (max-width: 768px) {
  #image {
    width: 100%;
    padding: 0.5%;
  }
}
#font {
  padding: 4%;
  font-size: larger;
  /* margin-right: 10%; */
}

@media (max-width: 768px) {
  .about_font {
    justify-content: space-evenly;
    /* text-align:center; */
  }
}
TypeWriterEffect {
  text-align: center;
  background-color: yellow;
}
#size {
  font-size: larger;
}
#h4 {
  padding: 5%;
}
@media (max-width: 768px) {
  #h4 {
    padding: auto;
  }
}
#quote {
  margin: 5% 0 0 0;
}

#skls {
  background-color: white;
  background-size: cover;
  height: 750px;
  background-position: center;
  object-fit: contain;
  padding: 5%;
  margin: 1% 0 1% 0;
  font-family: Roboto;
 
}
@media (max-width: 768px) {
  #skls {
    object-fit: contain;
    height: 600px;
    background-position: center;
    padding: 2%;
    margin: 1% 0 1% 0;
  }
}
.part {
  /* background-image: url("./images/brick.jpg"); */
  background-color: whitesmoke;
  width: 80%;
  height: 100%;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  padding: 5%;
  color: black;
  flex-wrap: wrap;
  font-family: Roboto;
  left: 4px;
  top: 5px;
 

  margin: 0 10% 0 10%;
}
#part1 {
  width: 50%;
  margin-top: 10%;

}
#part2 {
  width: 50%;
  margin-top: 10%;
}
.contain {
  width: 80%;
  background-color: white;
  text-align: right;
  margin: 2%;
  border: 1px solid black;
}
h1 {
  text-align: center;
  padding: 2%;
}
#html {
  width: 70%;
  background-color: rgb(9, 200, 248);
}
#H3 {
  margin: 2%;
}
#css {
  margin: 2%;
}
/* @media (max-width:768px){
  #css{
    margin-top: 4%;
  }
} */
.css {
  width: 70%;
  background-color: rgb(9, 200, 248);
}
#js {
  margin: 2%;
}
.js {
  width: 80%;
  background-color: rgb(9, 200, 248);
}
#react {
  margin: 2%;
}
.react {
  width: 70%;
  background-color: rgb(9, 200, 248);
}
#node {
  margin: 2%;
}
.node {
  width: 70%;
  background-color: rgb(9, 200, 248);
}
#mongodb {
  margin: 2%;
}
.mongodb {
  width: 60%;
  background-color: rgb(9, 200, 248);
}
#sql {
  margin: 2%;
}
.sql {
  width: 60%;
  background-color: rgb(9, 200, 248);
}
#aws {
  margin: 2%;
}
.aws {
  width: 40%;
  background-color: rgb(9, 200, 248);
}
#project {
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 5% 0 5% 0;
}
@media (max-width: 768px) {
  #project {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 8% 0 5% 0;
    padding: 10%;

  }
}
#one {
  width: 33%;
  height: 100%;
  margin: 4%;
  transition: transform 450ms;
}
/* @media (max-width:768px){
  #one{
    width:100%;
    height: 100%;
    
  }
} */
#center {
  justify-content: center;
  background-color: whitesmoke;
  width: 80%;
  height: 100%;
  margin: 0 20% 0 10%;
  padding: 3%;
  display: flex;
  font-family: Roboto;
}
@media (max-width:768px){
  #center{
    width: 100%;
    margin: 0;
    height: 100%;
    display: table-row;
  }
}
#one:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  #one:hover {
    transform: scale(1.1);
    opacity:1;
    width:100px ;
  }
  #one {
    transition: width 2s;
  }
}
#imgs {
  width: 70%;
  border: 2px solid black;
}
@media(max-width:768px){
  #imgs{
    width: 270%;
    object-fit: contain;
  }
}
#pa {
  background-color: cornsilk;
  width: 70%;
  margin-left: 15%;
  border: 2px solid black;
  color: black;
}
@media (max-width: 768px) {
  #pa {
    font-size: x-large;
    font: bolder;
    font-family: Roboto;
    width: 270%;
    margin: 0;
  }
}
@media(max-width:768px){
  .btn btn-primary sm{
    display: flex;
  }
}
a {
  text-decoration: none;
}
#two {
  width: 33%;
  height: 120%;
  margin: 4%;
  transition: transform 450ms;
}
@media (max-width:768px){
  #two{
    transition: transform 450ms;

  }
}
@media(max-width:768px){
  #two:hover{
    transform: scale
  }
}

#two:hover {
  transform: scale(1.1);
}

#pic2 {
  width: 70%;
  border: 2px solid black;
}
@media (max-width:768px){
  #pic2{
   width: 270%;
  }
}
#centre {
  text-align: center;
}
#hd2 {
  background-color: cornsilk;
  border: 2px solid black;
  width: 70%;
  margin-left: 15%;
  color: black;
}
@media (max-width: 768px) {
  #hd2 {
    font-size: x-large;
    width: 270%;
    margin: 0;
   
  }
}
#three {
  width: 33%;
  height: 100%;
  margin: 4%;
  transition: transform 450ms;
}
#three:hover {
  transform: scale(1.1);
}

#pic3 {
  width: 70%;
  height: 10%;
  border: 2px solid black;
}
@media(max-width:768px){
  #pic3{
    width: 270%;
    margin: 0%;
  }
}
#hd3 {
  background-color: cornsilk;
  border: 2px solid black;
  width: 70%;
  margin-left: 15%;
  color: black;
}
@media (max-width: 768px) {
  #hd3 {
    font-size: x-large;
    margin: 0;
    width: 270%;
  }
}
#hed {
  text-align: center;
  background-color: rgb(233, 213, 187);
  width: 80%;
  margin: 0 0 8% 10%;
  font-family: Roboto;
  font-size: xx-large;
}
#link {
  display: flex;
}
#left {
  margin-left: 4%;
}
.container {
  top: 30%;
  left:10%;
  position:static;
  text-align: center;
  transform: translate(-50%, -50%);
}

/* Apply css properties to ui-widgets class */
.ui-widgets {
  position: static;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 9rem;
  margin:1.5rem;
  border: 1.2rem solid palegreen;
  box-shadow: inset 0 0 7px grey;
  border-left-color: chartreuse;
  border-top-color: chartreuse ;
  border-right-color: white;
  border-bottom-color: white ;
  text-align: center;
  box-sizing: border-box;
}

/* Apply css properties to the second
  child of ui-widgets class */
.ui-widgets:nth-child(2) {
  border-top-color:chartreuse ;
  border-right-color: chartreuse;
  border-left-color:chartreuse;
  border-bottom-color: white;
}
.ui-widgets:nth-child(3){
  border-top-color:chartreuse ;
  border-right-color: chartreuse;
  border-left-color:chartreuse;
  border-bottom-color: white;

  
 
  
}

/* Apply css properties to ui-widgets
 class and ui-values class */
.ui-widgets .ui-values {
  top: 10px;
  position: static;
  left: 10px;
  right: 0;
  font-weight: 700;
  font-size: 2.0rem;
}


/*  Apply css properties to ui-widgets 
class and ui-labels class */
.ui-widgets .ui-labels {
  left: 0;
  bottom: -16px;
  text-shadow: 0 0 4px grey;
  color:black;
  position: static;
  width: 100%;
  font-size: 16px;
}